@model SistemaLavado.Models.Cliente


@{
    ViewBag.Title = "AgregarNuevoCliente";
}

<form method="post" action="@Url.Action("agregar")">
    <input type="hidden" value="@Model.id_cliente" name="id_cliente" />
    <div class="form-group">
        <label>Cedula</label>
        <input type="text" value="@Model.cedula" name="cedula" class="form-control" />
    </div>
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" value="@Model.nombre" name="nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label>Primer Apellido</label>
        <input type="text" value="@Model.apellido1" name="apellido1" class="form-control" />
    </div>
    <div class="form-group">
        <label>Segundo Apellido</label>
        <input type="text" value="@Model.apellido2" name="apellido2" class="form-control" />
    </div>
    <div class="form-group">
        <label>Fecha de Nacimiento</label>
        <input type="@(Model.id_cliente > 0?"text":"date")" value="@Model.fecha_nacimiento" name="fecha_nacimiento" class="form-control" />
    </div>
    <div class="form-group">
        <label>Correo Electrónico</label>
        <input type="email" value="@Model.correo" name="correo" class="form-control" />
    </div>
    <div class="form-group">
        <label>Provincia</label>
        <select class="form-control" name="provincia">
            @foreach (var provincia in ViewBag.provincias)
            {
                <option value="@provincia.id_Provincia">@provincia.nombre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Cantón</label>
        <select class="form-control" name="canton"></select>
    </div>
    <div class="form-group">
        <label>Distrito</label>
        <select class="form-control" name="distrito"></select>
    </div>
    <div class="form-group">
        <label>Género</label>
        <select class="form-control" name="genero">
            <option value="h">Masculino</option>
            <option value="m">Femenino</option>
        </select>
    </div>
    <div class="form-group">
        <label>Estado</label>
        <select class="form-control" name="genero">
            <option value="A">Activo</option>
            <option value="I">Inactivo</option>
        </select>
    </div>
    @*  contraseña
        tipo
        correo
        validar contraseña y cedula que no sean iguales
        mantener la informacion almacenada de la persona
        validar fecha en blanco
    *@
    <div class="form-group">

    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Agregar</button>
    </div>
</form>
@section scripts{
    <script type="text/javascript">
        let select, seleccionado, valor;

        $("[name='canton']").on("change", function () {
            select = $(this)[0];
            seleccionado = select.selectedIndex;
            valor = select.options[seleccionado].value;

            // Petición
            $.get({
                url: `/Clientes/ObtenerInfo?canton=${valor}`,
                dataType: "json",
                success: function (respuesta) {
                    //console.log(respuesta)
                    $("[name='distrito']").html("");
                    for (let distrito of respuesta.distrito) {
                        //console.log(canton);
                        $("[name='distrito']").append(new Option(distrito.nombre, distrito.id_distrito));
                    }
                }
            });

        });

        $("[name='provincia']").on("change", function () {
            select = $(this)[0];
            seleccionado = select.selectedIndex;
            valor = select.options[seleccionado].value;

            //console.log(select, seleccionado, valor);


            // Petición
            $.get({
                url: `/Clientes/ObtenerInfo?provincia=${valor}`,
                dataType: "json",
                success: function (respuesta) {
                    //console.log(respuesta)
                    $("[name='canton']").html("");
                    for (let canton of respuesta.canton) {
                        //console.log(canton);
                        $("[name='canton']").append(new Option(canton.nombre, canton.id_Canton));
                    }
                }
            });

        });
    </script>
}