
@model SistemaLavado.Models.TipoVehiculo
@{
    ViewBag.Title = "ModeloVista";
}
<form id="frmTipoInserta" method="post" action="@Url.Action("agregaroeditar")">
    <input type="hidden" value="@Model.id_codigoTV" name="id_codigoTV" />
    <h1 class="font-weight-bolder">Inserta Un Nuevo Tipo De Vehículo</h1>
    <br />
    <p class="text-muted">Agrega un pais con su respectivo código</p>
    <br />
    <div class="form-group">
        <label>Código</label>
        <input type="text" value="@Model.codigo" name="codigo" class="form-control" />
    </div>
    <div class="form-group">
        <label>Pais</label>
        <input type="text" value="@Model.tipo" name="tipo" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Agregar</button>
    </div>
    <br />
    <a href="~/Principal/PaginaPrincipal" type="button" class="btn btn-primary">Regresar Página Principal</a>
</form>

@section scripts
    {
    @Scripts.Render("~/Scripts/ValidacionesInsertar/InsertaTipoVehiculo.js")
    @Scripts.Render("~/scripts/ValidacionesGenericas.js")
}
