<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema de Lavado</title>
    @Styles.Render("~/Content/css")
    @RenderSection("css", required: false)
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.blueopal.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="~/Principal/PaginaPrincipal">Principal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            @{
                if (ViewBag.tipo != null)

                {
                        <ul class="navbar-nav">
                            @{
                                if (ViewBag.tipo == "a")
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Clientes
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="@Url.Action("Index", "Clientes")">Listar Clientes</a>
                                            <a class="dropdown-item" href="/Clientes/agregar">Nuevo Cliente</a>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Pais Fabricante
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="@Url.Action("Index", "MantenimientoFabricante")">Listar Fabricantes</a>
                                            <a class="dropdown-item" href="@Url.Action("agregaroeditar", "MantenimientoFabricante")">Nuevo Fabricante</a>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Tipo de Vehiculo
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="@Url.Action("Index", "MantenimientoTipoDeVehiculos")">Listar Vehiculos</a>
                                            <a class="dropdown-item" href="@Url.Action("agregaroeditar", "MantenimientoTipoDeVehiculos")">Nuevo Vehiculo</a>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Marcas de vehiculo
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="@Url.Action("Index", "MarcasDeVehiculo")">Lista Marcas</a>
                                            <a class="dropdown-item" href="@Url.Action("agregaroeditar", "MarcasDeVehiculo")">Nueva Marca</a>

                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Vehículos
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="@Url.Action("Index", "Vehiculos")">Lista Vehiculo</a>
                                           @* <a class="dropdown-item" href="@Url.Action("agregaroeditar", "Vehiculos")">Nuevo Vehículo</a>*@

                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Geografia
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="@Url.Action("Provincia", "Geografia")">Provincia</a>
                                            <a class="dropdown-item" href="@Url.Action("Canton", "Geografia")">Canton</a>
                                            <a class="dropdown-item" href="@Url.Action("Distrito", "Geografia")">Distrito</a>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <a class="navbar-brand" href="/Clientes/index">Datos Personales</a>


                                }
                            }
                        </ul>
                }
            }
            <a href='@Url.Action("Login", "Login")' class="ml-auto">Cerrar Sesión</a>

        </div>

    </nav>
    <div class="container-fluid body-content d-flex bg-light">
        @RenderBody()
    </div>
    <footer class="bg-dark text-center text-white">

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <p>&copy; @DateTime.Now.Year - Proyecto Final Programacion VI Castro Carazo ASP.NET</p>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    @Scripts.Render("~/bundles/jquery")
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>

